In [1]:
import pandas as pd
import numpy as np
from typing import Optional,List,Dict
from model.mymodel import linear_regression_model
#from model.mymodel import linear_regression_model_client
from predict.prediction import predict_linear_regression
#from predict.prediction import predict_linear_regression_client
from preprocessing.cleaning_data import raw_data
from preprocessing.cleaning_data import start_dataframe
from preprocessing.cleaning_data import preprocess
import joblib

In [2]:
raw_data.columns

Index(['Immoweb ID', 'Property type', 'property sub-type', 'Price',
       'Post code', 'Building condition', 'Kitchen type', 'Bedrooms',
       'Furnished', 'Terrace surface', 'Tenement building',
       'Number of frontages', 'Swimming pool', 'How many fireplaces?',
       'Garden', 'Terrace', 'Surface of the plot', 'Living area',
       'Garden surface', 'Garden orientation'],
      dtype='object')

In [3]:
'''data = {
  "data": {
    "area": int,
    "property-type": str,
    "rooms-number": int,
    "zip-code": int,
    "land-area": Optional[int],
    "garden": Optional[bool],
    "garden-area": Optional[int],
    "equipped-kitchen": Optional[bool],
    "full-address": Optional[str],
    "swimming-pool": Optional[bool],
    "furnished": Optional[bool],
    "open-fire": Optional[bool],
    "terrace": Optional[bool],
    "terrace-area": Optional[int],
    "facades-number": Optional[int],
    "building-state": Optional[str]
  }
}'''

'data = {\n  "data": {\n    "area": int,\n    "property-type": str,\n    "rooms-number": int,\n    "zip-code": int,\n    "land-area": Optional[int],\n    "garden": Optional[bool],\n    "garden-area": Optional[int],\n    "equipped-kitchen": Optional[bool],\n    "full-address": Optional[str],\n    "swimming-pool": Optional[bool],\n    "furnished": Optional[bool],\n    "open-fire": Optional[bool],\n    "terrace": Optional[bool],\n    "terrace-area": Optional[int],\n    "facades-number": Optional[int],\n    "building-state": Optional[str]\n  }\n}'

In [4]:
living_area:str = "Living area" # "area":int
property_type:str = "Property type" #"property-type": str
bedrooms:int = "Bedrooms" #"rooms-number": int
post_code:int = "Post code" #"zip-code": int

In [5]:
data = {
  0 : {
    "area": 230,
    "property-type":"APARTMENT",
    "rooms-number":3,
    "zip-code": 9820,
  }
}

In [6]:
data_encoded = {
    0:{}
}

In [7]:

columns = raw_data.columns
my_list = ['Immoweb ID', 'Property type', 'property sub-type', 'Price',
       'Post code', 'Building condition', 'Kitchen type', 'Bedrooms',
       'Furnished', 'Terrace surface', 'Tenement building',
       'Number of frontages', 'Swimming pool', 'How many fireplaces?',
       'Garden', 'Terrace', 'Surface of the plot', 'Living area',
       'Garden surface', 'Garden orientation']

for elem in columns:
    for label in my_list:
        if label != living_area or label != property_type or label != bedrooms or label != post_code:
            if elem == 'Immoweb ID':
                data_encoded[0][elem] = 7921700
            if elem == property_type:
                data_encoded[0][property_type] = data[0]['property-type']
            if elem == 'property sub-type':
                data_encoded[0][elem] = "unknown"
            if elem == 'Price':
                data_encoded[0][elem] = 0
            if elem == post_code:
                data_encoded[0][post_code] = str(data[0]['zip-code'])
            if elem == 'Building condition':
                data_encoded[0][elem] = "bad"
            if elem == 'Kitchen type':
                data_encoded[0][elem] = "super equiped"
            if elem == bedrooms:
                data_encoded[0][bedrooms] = data[0]['rooms-number']
            if elem == 'Furnished':
                data_encoded[0][elem] = False
            if elem == 'Terrace surface':
                data_encoded[0][elem] = 20
            if elem == 'Tenement building':
                data_encoded[0][elem] = False
            if elem == 'Number of frontages':
                data_encoded[0][elem] = 0
            if elem == 'Swimming pool':
                data_encoded[0][elem] = True
            if elem == 'How many fireplaces?':
                data_encoded[0][elem] = 0
            if elem == 'Garden':
                data_encoded[0][elem] = 0
            if elem == 'Terrace':
                data_encoded[0][elem] = 0
            if elem == 'Surface of the plot':
                data_encoded[0][elem] = 350
            if elem == living_area:
                data_encoded[0][living_area] = data[0]['area']
            if elem == 'Garden surface':
                data_encoded[0][elem] = 0
            if elem == 'Garden orientation':
                data_encoded[0][elem] = 0

In [8]:
df = pd.DataFrame.from_dict(data_encoded,orient="index")

In [9]:
df

,Immoweb ID,Property type,property sub-type,Price,Post code,Building condition,Kitchen type,Bedrooms,Furnished,Terrace surface,Tenement building,Number of frontages,Swimming pool,How many fireplaces?,Garden,Terrace,Surface of the plot,Living area,Garden surface,Garden orientation
0,7921700,APARTMENT,unknown,0,9820,bad,super equiped,3,False,20,False,0,True,0,0,0,350,230,0,0

In [10]:

df_reg,X = preprocess(df)

/home/becode/Fortune/Projects/API-Immo/preprocessing/cleaning_data.py:240: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reg[big_elem].iloc[-1] = df.iloc[0][small_elem]

In [11]:
linear_regression_model(df_reg)

In [12]:
#X.drop(labels=["log_price"])

In [13]:
type(X)

pandas.core.series.Series

In [14]:
X.index

Index(['Kitchen type', 'Bedrooms', 'Furnished', 'Swimming pool', 'Garden',
       'Terrace', 'Surface of the plot', 'Living area', 'log_price',
       'property sub-type_BUNGALOW',
       ...
       'Post code_9550', 'Post code_9600', 'Post code_9620', 'Post code_9700',
       'Post code_9800', 'Post code_9820', 'Post code_9880', 'Post code_9900',
       'Post code_9940', 'Post code_other'],
      dtype='object', length=195)

In [15]:
X

Kitchen type       0.0
Bedrooms           3.0
Furnished          1.0
Swimming pool      1.0
Garden             0.0
                  ...
Post code_9820     0.0
Post code_9880     0.0
Post code_9900     0.0
Post code_9940     0.0
Post code_other    0.0
Name: 7641, Length: 195, dtype: float64

In [16]:
X.values

array([  0.        ,   3.        ,   1.        ,   1.        ,
         0.        ,   0.        , 350.        , 230.        ,
        12.44317827,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         1.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   1.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ])

In [17]:
predict_linear_regression(X)

454496.27

In [18]:
df_reg

,Kitchen type,Bedrooms,Furnished,Swimming pool,Garden,Terrace,Surface of the plot,Living area,log_price,property sub-type_BUNGALOW,...,Post code_9550,Post code_9600,Post code_9620,Post code_9700,Post code_9800,Post code_9820,Post code_9880,Post code_9900,Post code_9940,Post code_other
0,1.0,1,1,1,0,1,0.0,63.0,12.095141,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,1,1,1,0,1,0.0,42.0,12.449019,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,1,1,1,0,1,0.0,42.0,12.449019,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,3,1,1,0,1,0.0,150.0,13.337475,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2,0,0,0,1,0.0,120.0,12.845291,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7637,2.0,1,0,1,0,1,0.0,62.0,12.396693,0,...,0,0,0,0,0,0,0,0,0,0
7638,0.0,1,0,1,0,1,0.0,55.0,12.818552,0,...,0,0,0,0,0,0,0,0,0,0
7639,0.0,1,0,1,0,1,0.0,65.0,12.287653,0,...,0,0,0,0,0,0,1,0,0,0
7640,0.0,1,0,1,0,0,0.0,52.0,11.908340,0,...,0,0,0,0,0,0,0,0,0,1
7641,0.0,3,1,1,0,0,350.0,230.0,12.443178,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df_reg["log_price"]

0       12.095141
1       12.449019
2       12.449019
3       13.337475
4       12.845291
          ...
7637    12.396693
7638    12.818552
7639    12.287653
7640    11.908340
7641    12.443178
Name: log_price, Length: 7642, dtype: float64

In [20]:
len(X.to_numpy())

195

In [21]:
y_hat = linear_regression_model_client(df_reg,X)

NameError: name 'linear_regression_model_client' is not defined

In [ ]:
y_hat

In [ ]:
X

In [ ]:
y = predict_linear_regression_client(regressor,X)

In [ ]:
y

In [ ]:
from jsonschema import validate


validate(instance=42, schema={"type":"integer"})

In [ ]:
validate(instance="dodo", schema={"type":"integer"})